.main{
    width: 85%;
  }
  
  .main-image{
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .main-profile{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 200px;
    background-color: gold;
  }
  .profile-avatar{
    margin-right: 50px;
  }
  
  .profile-data{
    display: flex;
    flex-direction: column;
  }



  .post{
    width: 400px;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid black;
    word-break: break-all;
  }