.sidebar{
    display: flex;
    flex-direction: column;
    min-width: 15%;
    background-color: #6667ab;
    margin-right: 10px;
    padding:5px;
    min-height: 42em;
  }
  
  .sidebar-item{
    background-color: white;
    border-radius: 3px;
    width: 100%;
    margin-bottom: 5px;
    padding-left:5px;
  }

  .sidebar-link{
    text-decoration: none;
    color: rgb(83, 94, 215);
    
  }