.wrapper{
  width: 1080px;
  height: auto;
  margin: auto;
}

.content-wrapper{
  display: flex;
  justify-content: flex-start;
  width: 100%;
}


html {
  box-sizing: border-box;
}

* {
  margin: 0;
  box-sizing: inherit;
}