.wrapper {
  width: 1080px;
  height: auto;
  margin: auto;
}

.content-wrapper {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

html {
  box-sizing: border-box;
}

.spinner {
  position: absolute;
  top: 45%;
  left: 50%;
}



.link{
  text-decoration: none;
}


.friendList{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.postList{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.trigger{
  width:100%;
  height:20px;
  }

* {
  margin: 0;
  box-sizing: inherit;
}
