.wrapper {
  width: 1080px;
  height: auto;
  margin: auto;
}

.content-wrapper {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

html {
  box-sizing: border-box;
}

.spinner {
  position: absolute;
  top: 45%;
  left: 50%;
}

* {
  margin: 0;
  box-sizing: inherit;
}
